body {
    background-color: rgb(235, 235, 235);
}

h1 {
    margin: 2% 35% 2% 35%;
    padding: 25px;
    text-align: center;
}

.center {
    margin: auto;
    margin-top: 8%;
    margin-bottom: 9.5%;
    width: 25%;
    height: 300px;
    border: 2px solid rgb(189, 183, 183);
    padding: 30px;
    text-align: center;
}

.confirmed {
    color: red;
}

.fixed {
    color: green;
}

.pending {
    color: rgb(211, 146, 6);
}

.boss-button {
    margin: 0% 47% ;
    margin-bottom: 400%;
    padding: 15px;
}

a:visited {
    color: #1004cc;
}

/*
form {
    margin-left: 40%;
    margin-top: 200px;s
}

form button {
    margin-left: 15%;
}

h1 {
    margin-top: 20px;
    margin-left: 42%;
}
*/