form * {
    box-sizing: border-box;
}

form {
    display: block;
    overflow: auto;
    border-radius: 15px;
    min-height: 450px;
}

form a {
    margin-top: 7%;
    display: block;
}

.errors {
    color: rgb(235, 39, 39);
}

.errors span {
    display: block;
    padding: 1px;
}

.pair {
    margin: 6% 0;
}

.pair label {
    display: inline;
    float: left;
    text-align: right;
    margin-top: 1.5%;
    margin-left: 12%;
}

.pair input {
    display: block;
    margin-left: 40%;
    margin-bottom: 3%;
    border-radius: 50px;
    width: 50%;
    height: 30px;
    border: none;
    background-color: rgb(189, 183, 183);
    padding: 15px;
}

.ta {
    margin: 6% 0;
}

.ta label {
    display: inline;
    float: left;
    text-align: right;
    margin-top: 7%;
    margin-left: 12%;
}

.ta textarea {
    display: block;
    margin-left: 40%;
    margin-bottom: 3%;
    border-radius: 50px;
    width: 50%;
    height: 8%;
    border: none;
    background-color: rgb(189, 183, 183);
    padding: 15px;
    resize: none;
    /* text-align: center; */
}

form h2 {
    margin: 0 auto;
}

form button[type="submit"] {
    margin: auto;
    margin-top: 3%;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}