.bugs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    /* margin-left: 25%; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    display: table;
    font-size: 20px;
}

.bugs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #828282;
    color: white;
    font-size: 20px;
}

.bugs td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.bugs tr {
    text-align: center;
    background-color: #ebe7e7;
    max-height: 43px;
}

.bugs td {
    max-height: 43px;
}

.bugs tr:nth-child(even) {
    background-color: #f2f2f2;
}

.bugs tr:hover {
    background-color: #ddd;
}

.bugs td a {
    padding: 5px;
    text-decoration: none;
}

.bugs h5 {
    max-height: 43px;
}